In [1]:
import pandas as pd
import numpy as np
import fs_qe as fq
%matplotlib inline

# 1 merging and data processing

## 1.1 merging

In [2]:
def import_data2(file='data_all/us_tasset_all1.csv'):
    df = pd.read_csv(file)
    df = df[['id', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']].set_index('id')
    return df

In [3]:
df1 = fq.import_data2()
df2 = fq.import_data2(file='data_all/us_tasset_all2.csv')

In [4]:
df_us = df1.append(df2, ignore_index=True)
df_us

,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,2200000.00,2200000.00,2200000.00,2200000.00,2300000.00,2300000.00,2300000.00,2200000.00,2200000.00,n.a.
1,56200.00,88400.00,117300.00,154100.00,230800.00,341400.00,566000.00,647500.00,798000.00,n.a.
2,60400.00,72800.00,80300.00,92600.00,110000.00,116000.00,123000.00,132000.00,137000.00,n.a.
3,280000.00,280000.00,208000.00,217800.00,243000.00,250000.00,332000.00,295000.00,290000.00,n.a.
4,82100.00,76900.00,75000.00,75300.00,73500.00,71100.00,69600.00,71000.00,74900.00,n.a.
...,...,...,...,...,...,...,...,...,...,...
153341,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,11.45,n.a.,n.a.
153342,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,1067372.97,n.a.,n.a.
153343,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,303209.83,n.a.,n.a.
153344,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,0.10,n.a.,n.a.
153345,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,n.a.,0.00,n.a.

## 1.2 data processing

In [6]:
df_us5 = fq.preprocess_data(df_us, var1='tasset', var2='logtasset')

/Users/shuhu/opt/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/shuhu/opt/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:679: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/shuhu/opt/anaconda3/lib/python3.7/site-packages/pandas/core/algorithms.py:1926: RuntimeWarning: invalid value encountered in subtract
  out_arr[res_indexer] = arr[res_indexer] - arr[lag_indexer]

In [7]:
df_us6 = df_us5[df_us5['fgrow_log'] != 0.0]
df_us7 = df_us6[df_us6['fgrow_log'] != np.inf]
df_us8 = df_us7[df_us7['fgrow_log'] != - np.inf]
df_us9 = df_us8[df_us8['tasset'] != 0.0]
df_us10 = df_us9[df_us9['logtasset'] > 0.0]
df_us10.to_csv('data_all/us_tasset_all_postprocess.csv')

In [8]:
scatterplot(df_us10, x='logtasset', xlabel='Log Size (Log Total Assets)')

NameError: name 'scatterplot' is not defined